:root {
  --primary-text: #434455;
  --secondary-text: #fff;
  --primary-brand: #4d5ae5;
  --active-buttons: #404bbf;
  --success: #31d0aa;
  --dark: #2e2f42;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --shadow: rgba(0, 0, 0, 0.15);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 1440px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  text-transform: uppercase;
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.logo-web {
  color: var(--primary-brand);
}

.title-header {
  font-size: 56;
  line-height: 60px;
}
.nav-a {
  font-weight: 500;
  color: var(--dark);
  margin-right: 40px;
}
.nav-a:hover,
:focus {
  color: var(--primary-text);
}

.nav-a:active {
  color: var(--primary-brand);
}
.address-a {
  font-style: normal;
  color: var(--primary-text);
  margin-left: 24px;
}

.title-header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title-header .logo {
  margin-right: 76px;
}
.title-header nav,
.title-header address {
  display: flex;
  align-items: baseline;
}
.title-header ul {
  display: flex;
}

footer {
  background-color: var(--dark);
}

.logo-bottom {
  color: var(--secondary-text);
}
.footer-p {
  color: var(--secondary-text);
}

.hero {
  background-color: var(--dark);
}
.hero-h {
  font-size: 56px;
  line-height: 1.07;
  color: var(--secondary-text);
  margin: 0 auto 48px;
}
.buttons {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-brand);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--secondary-text);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
}
.buttons:active {
  background-color: var(--active-buttons);
}

.hero .container {
  padding: 188px 0;
  text-align: center;
  width: 496px;
}
.hero .buttons {
  text-align: center;
}
.features-section .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-section ul {
  display: flex;
  justify-content: space-between;
}

.features-section h3 {
  margin-bottom: 8px;
}

.wedoing-section .container {
  padding-bottom: 120px;
}
.wedoing-section ul {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.tertiary-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}
.secondary-h {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.team-section {
  background-color: var(--light);
}

.team-section .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-section h2 {
  margin-bottom: 72px;
}
.team-section ul {
  display: flex;
  justify-content: space-between;
}

.team-section .team-li {
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
}

.team-li img {
  margin-bottom: 32px;
}

.team-li h3 {
  margin-bottom: 8px;
}

.team-li p {
  padding-bottom: 32px;
}
.filter-section .container {
  padding-top: 168px;
  padding-bottom: 120px;
}
.filter-section .filter-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.filter-ul li:not(:last-child) {
  margin-right: 24px;
}

.list-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-li img {
  margin-bottom: 32px;
}
.list-li h3 {
  margin-bottom: 8px;
  padding-left: 16px;
}

.list-li p {
  padding-bottom: 32px;
  padding-left: 16px;
}

.list-li:nth-child(-n + 6) {
  margin-bottom: 48px;
}

.list-li {
  outline: 1px solid var(--subtle-text);
  outline-offset: -1px;
}
header {
  border-bottom: 1px solid var(--subtle-text);
}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-p {
  margin-top: 17.5px;
  width: 264px;
}
